name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".vscode/**"
      - "docs/**"
      - "README.md"

  pull_request:
    types: [review_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm turbo test

      - name: Build
        run: pnpm turbo build

      - name: Get Short SHA
        uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 6

      - name: Fix Artifacts
        run: |
          mkdir -p out/bin
          mv out/vryjs.mjs out/bin
          mv out/libsql.node out/bin

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vryjs-${{ steps.short-sha.outputs.sha }}
          path: |
            out/**
